@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f2f2f2;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #efefef;
}

::-webkit-scrollbar-thumb {
  background: #002f9e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0a1a2e;
}

header {
  transition: all 0.3s ease-in-out;
}

.scrolled {
  background-color: #ffffffe6;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);

  nav {

    a {
      color: #1e1e1e;
    }

    background-color: transparent;
    transition: all 0.5s ease-in-out;
  }
}

.banner {
  background-image: url("/Banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
